{{ '<script type="text/ng-template" id="homepage.html">' }}

    <div class="page">

        <div id="hp_main_block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" id="referendum_counter">
                        <h1>
                            {% if daysToReferendum > 1 %}
                                Jeszcze {{ daysToReferendum }} dni<br/>
                                <span class="subtitle">do referendum 6 IX</span>
                            {% elseif daysToReferendum == 1 %}
                                Już jutro<br/>
                                <span class="subtitle">referendum 6 IX</span>
                            {% elseif daysToReferendum == 0 %}
                                Już dziś<br/>
                                <span class="subtitle">referendum 6 IX</span>
                            {% else %}
                                {# Tekst po referendum#}
                                Referendum 6 IX
                            {% endif %}
                        </h1>
                        <div class="row btn-wrapper">
                            <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-12 col-lg-offset-1 col-lg-10">
                                <div class="row">
                                    <div class=" col-sm-7">
                                        <a class="btn clickable ng-scope" ng-click="security.register()">Dołącz do nas</a>
                                    </div>
                                    <div class="col-sm-5">
                                        <a class="btn" ui-sref="challenges.make_donation" ruch-jow-force-hash-href="">Wesprzyj</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map-bg">
                            <h2>Zmieniamy razem Polskę</h2>
                            <p class="subtitle">Do tej pory sfinansowaliście:</p>
                            <div class="icon-wrapper">
                                <div class="row row-small-padding">
                                    <div class="col-xs-4 col-small-padding">
                                        <div class="icon ruch-jow-icon-billboard"></div>
                                        <div class="number">150</div>
                                        <div class="info">billboardów</div>
                                    </div>
                                    <div class="col-xs-4 col-small-padding">
                                        <div class="icon ruch-jow-icon-leaflets"></div>
                                        <div class="number">1 000 000</div>
                                        <div class="info">ulotek i broszur</div>
                                    </div>
                                    <div class="col-xs-4 col-small-padding">
                                        <div class="icon ruch-jow-icon-meeting"></div>
                                        <div class="number">200</div>
                                        <div class="info">spotkań</div>
                                    </div>
                                </div>
                            </div>
                            {#<div class="helper"></div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hp_referendum_importance">

            <div class="container">
                <h2>Dlaczego referendum jest tak ważne?</h2>
                <div class="row">
                    <div class="col-sm-4 icon-block">
                        <div class="icon ruch-jow-icon-hex_jow"></div>
                        <div class="info">JOW to poseł odpowiedzialny bezpośrednio przed wyborcą, nie szefem partii</div>
                    </div>
                    <div class="col-sm-4 icon-block">
                        <div class="icon ruch-jow-icon-hex_victory"></div>
                        <div class="info">To jedyna szansa na prawdziwą zmianę systemu i wymianę polityków</div>
                    </div>
                    <div class="col-sm-4 icon-block">
                        <div class="icon ruch-jow-icon-hex_ok"></div>
                        <div class="info">To głosowanie na ludzi, których się zna, a nie przypadkowe nazwiska z listy</div>
                    </div>
                </div>
                <a class="btn" href="http://referendum15.pl" target="_blank">Zobacz więcej</a>
            </div>

        </div>

        <div id="hp_ranks">

            <div class="container" ng-controller="RanksCtrl">
                <h2>Zobacz co się dzieje w Twoim regionie</h2>

                <div
                        ruch-jow-map
                        map-init-view="country"
                        markers-data="markersData"
                        other-markers-data="localGovMarkers"
                        active-territorial-unit="activeTerritorialUnit"
                        highlighted-territorial-unit="hiUnit"
                        class="ruch-jow-google-map"
                        options="{ minZoom: 5 }"
                        >
                    <ul class="map-legend">
                        <li>
                            <span class="img">{% image '@map_marker_star' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                            - aktywność samorządów
                        </li>
                        <li>
                            <span class="img">{% image '@map_marker_referendum_point' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                            - punkty referendalne
                        </li>
                        <li>
                            <span class="img">{% image '@map_marker_circle' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                            - zaangażowanie regionów
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="hp_news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" id="hp_jow_events" ng-controller="JowEventsCtrl">
                        <h3>Wydarzenia</h3>
                        <div ng-init="getEvents(5)">
                            <table class="table hp-table">
                                <tr>
                                    <th>Data</th>
                                    <th>Godzina</th>
                                    <th>Miejsce</th>
                                    <th>Wydarzenie</th>
                                    <th>Pokaż więcej</th>
                                </tr>
                                <tr ng-repeat="event in events">
                                    <td>[[ event.date|date:'dd.MM.yyyy' ]]</td>
                                    <td>[[ event.date|date:'HH:mm' ]]</td>
                                    <td>[[ event.venue ]]</td>
                                    <td>[[ event.title ]]</td>
                                    <td><a href="[[ event.link ]]" target="_blank">więcej...</a></td>
                                </tr>
                            </table>
                        </div>
                        <a ui-sref="jow_events" ruch-jow-force-hash-href="" class="more">wszystkie wydarzenia...</a>
                    </div>
                    <div class="col-md-6" id="hp_announcements" ng-controller="AnnouncementsCtrl">
                        <h3>Komunikaty</h3>
                        <div ng-if="status === 'success' && !feed.length">
                            Brak komunikatów.
                        </div>

                        <div ng-if="status === 'success' && feed.length">
                            <div ng-repeat="item in feed" ng-if="status === 'success'" class="item">
                                <h4>
                                    <span class="sub-info">[[ date(item.pubDate)|date:'dd.MM.yyyy HH:mm' ]]</span>
                                    [[ item.title ]]
                                </h4>
                                <div ng-bind-html="description(item)" class="content"></div>
                            </div>
                        </div>
                        <div ng-if="status === 'error'">
                            Wystąpił nieoczekiwany błąd podczas pobierania komunikatów.
                        </div>
                        <div ng-if="status === 'loading'">
                            Wczytywanie...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hp_people_of_jow">
            <div class="container">
                <h2>Ludzie ruchu JOW</h2>

                <div class="row">
                    <div class="col-md-4">
                        {% image '@people_wojciech_blasiak' %}
                            <img src="{{ asset_url }}" alt="dr Wojciech Błasiak" />
                        {% endimage %}
                    </div>
                    <div class="col-md-4">
                        {% image '@people_tomasz_kazmierski' %}
                            <img src="{{ asset_url }}" alt="prof. Tomasz Kaźmierski" />
                        {% endimage %}
                    </div>
                    <div class="col-md-4">
                        {% image '@people_patryk_halaczkiewicz' %}
                            <img src="{{ asset_url }}" alt="Patryk Hałaczkiewicz" />
                        {% endimage %}
                    </div>
                </div>

                <a class="btn" href="https://ludzie.ruchjow.pl/" target="_blank">Poznaj nas</a>

            </div>
        </div>


        <div id="hp_support">
            <div class="container">

                <div class="row">
                    <div class="col-md-5">
                        <h2>Wsparcie finansowe</h2>
                        <div class="icons-wrapper">
                            <i class="icon icon-1 ruch-jow-icon-hex_movie"></i>
                            <i class="icon icon-2 ruch-jow-icon-hex_victory"></i>
                            <i class="icon icon-3 ruch-jow-icon-hex_mail"></i>
                            <i class="icon icon-4 ruch-jow-icon-hex_jow"></i>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="map-bg">
                            <div class="wrapper">
                                <h3>Dzięki waszym wpłatom:</h3>
                                <ul>
                                    <li>wysłaliśmy pół miliona drukowanych materiałów;</li>
                                    <li>stworzyliśmy kilkadziesiąt filmów i animacji o JOW;</li>
                                    <li>wsparliśmy organizację kilkuset spotkań;</li>
                                    <li>wspieramy działalność setek wolontariuszy;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btns-wrapper">
                    <a class="btn" ui-sref="challenges.make_donation" ruch-jow-force-hash-href="">Wesprzyj</a>
                </div>
            </div>
        </div>

        <div id="hp_challenges">
            <div class="container">
                <h2>Podejmij wyzwanie i promuj JOW-y</h2>
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_people"></i>
                        <span class="info">Jest nas już</span>
                        <span class="counter">[[ getStatistics('basic.supportersCnt')|frNumberFormat ]]</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_people"></i>
                        <span class="info">Poparcie środowisk samorządowych</span>
                        <span class="counter">[[ getStatistics('basic.localGovSupportCnt')|frNumberFormat ]]</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_money"></i>
                        <span class="info">Zebraliśmy już</span>
                        <span class="counter">[[ getStatistics('basic.donations')|frNumberFormat:'cash' ]]</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_billboard"></i>
                        <span class="info">Billboardy</span>
                        <span class="counter">150</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_meeting"></i>
                        <span class="info">Spotkania</span>
                        <span class="counter">[[ 1000000|frNumberFormat ]]</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 counter-block">
                        <i class="icon ruch-jow-icon-hex_poi"></i>
                        <span class="info">Punkty referendalne</span>
                        <span class="counter">[[ '?'|frNumberFormat ]]</span>
                    </div>
                </div>
                <div class="btns-wrapper">
                    <a class="btn" ui-sref="challenges" ruch-jow-force-hash-href="">Działaj</a>
                </div>
            </div>
        </div>

        <div id="hp_other">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Odwiedź społeczność JOW</h2>
                        <div class="video-element">
                            <iframe width="100%" src="//www.youtube.com/embed/xXZloNlcQfA" frameborder="0" allowfullscreen></iframe>
                            <a class="btn" ui-sref="videos">Zobacz wszystkie nasze filmy</a>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <h2>Pobierz przewodnik i poznaj JOW-y</h2>
                        <div class="img-wrapper">
                            {% image '@misc_abc_jow' %}<img src="{{ asset_url }}" alt="przewodnik JOW" />{% endimage %}
                        </div>
                        <div class="btns-wrapper">
                            <a class="btn"
                               href="http://uniqpolimedia.pl/klienci/jow/broszura%20jow%20pw.pdf"
                               target="_blank">Pobierz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hp_social">
            <div class="container">
                <h2>Aktualności</h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="fb-page" data-href="https://www.facebook.com/spolecznoscJOW" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/spolecznoscJOW"><a href="https://www.facebook.com/spolecznoscJOW">Społeczność JOW</a></blockquote></div></div>


                        {#<iframe#}
                                {#src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FspolecznoscJOW&amp;width&amp;height=657&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=false"#}
                                {#scrolling="no"#}
                                {#frameborder="0"#}
                                {#allowTransparency="true"#}
                                {#class="facebook-likebox"#}
                                {#style="width: 100%">#}
                        {#</iframe>#}
                    </div>
                    <div class="col-md-6">
                        <a ruch-jow-twitter-widget="" class="twitter-timeline" href="https://twitter.com/spolecznoscJOW" data-widget-id="551374304236306434">Tweety użytkownika @spolecznoscJOW </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hp_shop">
            <div class="container">
                <h2>Sklep</h2>
                <div class="row shop">
                    <div class="col-sm-12 col-md-6 tshirt">
                        {% image '@misc_tshirt' %}<img src="{{ asset_url }}" alt="koszulka" />{% endimage %}
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-5 statement">
                        <h3>
                            Wybierz jeden z wielu gadżetów z naszym logo i
                            <strong>wesprzyj ruch JOW!</strong>
                        </h3>

                        <a class="btn" href="https://sklep.ruchjow.pl/index.php" target="_blank">Przejdź do sklepu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ui-view=""></div>

{{ '</script>' }}
