{{ '<script type="text/ng-template" id="homepage.html">' }}

    <div class="page">
        <div class="container main">


            <div class="row">
                <div class="col-md-12">
                    <article>
                        <div class="page-block ranks-block" ng-controller="RanksCtrl">
                            <div class="header">
                                <h1>Budujemy ruch obywatelski. Organizujmy się, pokażmy, że jest nas wielu</h1>
                                {#<div class="links">#}
                                    {#<ul>#}
                                        {#<li><a class="clickable" ng-class="{'active': isSelected('country')}" ng-click="setCurrentTU('country')">cały kraj</a></li>#}
                                        {#<li><a class="clickable" ng-class="{'active': isSelected('my_region')}" ng-click="setCurrentTU('my_region')" ng-show="userRegion">moje województwo</a></li>#}
                                        {#<li><a class="clickable" ng-class="{'active': isSelected('my_district')}" ng-click="setCurrentTU('my_district')" ng-show="userDistrict">mój powiat</a></li>#}
                                        {#<li><a class="clickable" ng-class="{'active': isSelected('my_commune')}" ng-click="setCurrentTU('my_commune')" ng-show="userCommune">moja gmina</a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            </div>
                            <div class="referendum-block">
                                <div class="col-md-8 col-small-padding referendum-block-left">
                                    {% if daysToReferendum == 0 %}
                                        Już <strong>dziś</strong><br/>
                                        referendum 6 IX !<br/>
                                    {% elseif daysToReferendum > 0 %}
                                        Jeszcze <strong>{{ daysToReferendum }}</strong> dni<br/>
                                        do referendum 6 IX !<br/>
                                    {% else %}
                                        Referendum 6 IX !<br/>
                                    {% endif %}
                                    <a class="btn" href="http://referendum15.pl">Dowiedz się więcej</a>
                                    <a class="btn clickable ng-scope" ng-click="security.register()">Dołącz do nas</a>
                                    <a class="btn" ui-sref="challenges.make_donation" ruch-jow-force-hash-href="">Wesprzyj</a>
                                </div>
                                <div class="col-md-4 col-small-padding referendum-block-right">
                                    Zmieniajmy razem Polskę
                                    <ul>
                                        <li>
                                            <a href="https://wspieram.ruchjow.pl/billbordy/" target="_blank">Sfinansuj billboard</a>
                                            <span>Wystawiliśmy już 150 billboardów</span>
                                        </li>
                                        <li>
                                            <a href="https://sklep.ruchjow.pl/index.php?id_category=17&controller=category" target="_blank">Wspomóż druk materiałów</a>
                                            <span>Wysłaliśmy już 1 000 000 ulotek i broszur</span>
                                        </li>
                                        <li>
                                            <a href="https://ruchjow.pl/#/challenges/organise_event" target="_blank">Zorganizuj prelekcję JOW</a>
                                            <span>Zorganizowaliśmy już ponad 200 spotkań</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row row-small-padding">
                                <section class="col-md-9 col-small-padding">
                                    <h2>Nasza aktywność</h2>
                                    <div class="map-title">
                                        <span class="active-territorial-unit">
                                            <span ng-show="activeTerritorialUnit.type !== 'country'">
                                                <span class="type">
                                                    [[ ('tu.type.' + activeTerritorialUnit.type)|translate ]]
                                                </span>
                                                <span class="name">
                                                    [[ activeTerritorialUnit.name ]]
                                                </span>
                                            </span>
                                            {#<span class="name" ng-show="activeTerritorialUnit.type === 'country'" translate>#}
                                                {#tu.whole_country#}
                                            {#</span>#}
                                        </span>
                                        <span class="level-up clickable glyphicon glyphicon-chevron-up" ng-click="showParent()" ng-show="parent"></span>
                                    </div>
                                    <div
                                            ruch-jow-map
                                            map-init-view="country"
                                            markers-data="markersData"
                                            other-markers-data="localGovMarkers"
                                            active-territorial-unit="activeTerritorialUnit"
                                            highlighted-territorial-unit="hiUnit"
                                            class="ruch-jow-google-map"
                                            options="{ minZoom: 6 }"
                                            >
                                        <ul class="map-legend">
                                            <li>
                                                <span class="img">{% image '@map_marker_star' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                                                - aktywność samorządów
                                            </li>
                                            <li>
                                                <span class="img">{% image '@map_marker_referendum_point' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                                                - punkty referendalne
                                            </li>
                                            <li>
                                                <span class="img">{% image '@map_marker_circle' %}<img src="{{ asset_url }}" />{% endimage %}</span>
                                                - zaangażowanie regionów
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="col-md-3 col-small-padding">
                                <div
                                        ruch-jow-rank-table=""
                                        ranking-obj="territorialUnitRanking"
                                        name-column-title="[[ (territorialUnitRanking.type ? ('tu.type.' + territorialUnitRanking.type) : '')|translate ]]"
                                        points-column-title="Punkty"
                                        hide-points="true"
                                        >
                                    <a ng-click="setCurrentTU(row.unitType, row.unitId)" class="clickable">[[ row.name ]]</a>
                                </div>

                                <div
                                        ruch-jow-rank-table=""
                                        ranking-obj="userRanking"
                                        name-column-title="Użytkownik"
                                        points-column-title="Punkty"
                                        hide-points="true"
                                        ><a class="clickable" ng-click="$showModalProfile(row.nick)">[[ row.displayName ]]</a></div>

                                <a ui-sref="ranks" ruch-jow-force-hash-href="" class="clickable pull-right" translate>zobacz wszystkie rankingi &raquo;</a>
                            </section>
                            </div>

                            <div class="row row-small-padding">
                                <div class="col-md-6 col-small-padding jow-events" ng-controller="JowEventsCtrl">
                                    <h2>Wydarzenia</h2>
                                    <div ng-init="getEvents(5)">
                                        <table class="table rank-table">
                                            <tr>
                                                <th>Data</th>
                                                <th>Godzina</th>
                                                <th>Miejsce</th>
                                                <th>Wydarzenie</th>
                                                <th>Pokaż więcej</th>
                                            </tr>
                                            <tr ng-repeat="event in events">
                                                <td>[[ event.date|date:'dd.MM.yyyy' ]]</td>
                                                <td>[[ event.date|date:'HH:mm' ]]</td>
                                                <td>[[ event.venue ]]</td>
                                                <td>[[ event.title ]]</td>
                                                <td><a href="[[ event.link ]]" target="_blank">więcej...</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a ui-sref="jow_events" ruch-jow-force-hash-href="" class="more">wszystkie wydarzenia...</a>
                                </div>
                                <div class="col-md-6 col-small-padding announcements" ng-controller="AnnouncementsCtrl">
                                    <h2>Komunikaty</h2>
                                    <div ng-if="status === 'success' && !feed.length">
                                        Brak komunikatów.
                                    </div>

                                    <div ng-if="status === 'success' && feed.length">
                                        <div ng-repeat="item in feed" ng-if="status === 'success'" class="item">
                                            <h3>
                                                <span class="sub-info">[[ date(item.pubDate)|date:'dd.MM.yyyy HH:mm' ]]</span>
                                                [[ item.title ]]
                                            </h3>
                                            <div ng-bind-html="description(item)"></div>
                                        </div>
                                    </div>
                                    <div ng-if="status === 'error'">
                                        Wystąpił nieoczekiwany błąd podczas pobierania komunikatów.
                                    </div>
                                    <div ng-if="status === 'loading'">
                                        Wczytywanie...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row" id="hp_join">
                <div class="col-md-8" id="hp_join_statement">
                    <p ng-show="!(security.currentUser && security.currentUser.username)">Dołącz do Ruchu Obywatelskiego na rzecz <strong>Jednomandatowych Okręgów Wyborczych</strong> w&nbsp;wyborach do&nbsp;<strong>Sejmu</strong>.</p>
                    <p ng-show="security.currentUser && security.currentUser.username">Budujemy Ruch Obywatelski na rzecz <strong>Jednomandatowych Okręgów Wyborczych</strong> w&nbsp;wyborach do&nbsp;<strong>Sejmu</strong>.</p>
                </div>
                <div class="col-md-4" id="hp_join_statement">
                    <button ng-show="!(security.currentUser && security.currentUser.username)" ng-click="security.register()">DOŁĄCZ</button>
                    <button ng-show="security.currentUser && security.currentUser.username" ui-sref="challenges.make_donation" ruch-jow-force-hash-href="">Wesprzyj</button>
                </div>
            </div>



            {#<div class="row" ng-if="security.currentUser && security.currentUser.username">#}
                {#<div class="col-md-9">#}
                    {#<div class="page-block title-block">#}
                        {#<article>#}
                            {#&#123;&#35;<div class="movie">&#35;&#125;#}
                                {#&#123;&#35;<iframe width="350" height="197" src="//www.youtube.com/embed/nQKzDiqc4rQ" frameborder="0" allowfullscreen></iframe>&#35;&#125;#}
                            {#&#123;&#35;</div>&#35;&#125;#}

                            {#<div class="col-md-6 message">#}
                                {#<h1>O co walczymy?</h1>#}
                                {#<p>#}
                                    {#Walczymy o <strong>Jednomandatowe Okręgi Wyborcze (JOW)</strong> w wyborach do Sejmu, <strong>na wzór brytyjski</strong>!#}
                                    {#Chcemy posłów odpowiedzialnych przed wyborcami,#}
                                    {#chcemy sprawnie zarządzanego państwa oraz urzędów i instytucji publicznych działających dla obywatela.#}
                                    {#Ale zmiany nie zaczną politycy, musimy zrobić to sami.#}
                                    {#Czas na działanie! Czas na <strong>Ruch JOW</strong>!#}
                                {#</p>#}
                                {#<p><a ui-sref="about" ruch-jow-force-hash-href="">czytaj więcej...</a></p>#}
                            {#</div>#}

                            {#<div class="col-md-6 movie">#}
                                {#<iframe width="380" height="214" src="//www.youtube.com/embed/nQKzDiqc4rQ" frameborder="0" allowfullscreen></iframe>#}
                            {#</div>#}
                        {#</article>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3" ruch-jow-link-block="'challenges.make_donation'">#}
                     {#<div class="page-block support-block">#}
                         {#<span class="img-support ruch-jow-icon-supporters"></span>#}
                         {#Wspieraj nas finansowo i pomóż nam walczyć o zmianę ordynacji wyborczej#}
                         {#<a class="btn btn-go" ui-sref="challenges.make_donation" ruch-jow-force-hash-href="">Wspieraj teraz</a>#}
                     {#</div>#}
                 {#</div>#}
            {#</div>#}

            {#<div class="row" ng-if="security.currentUser && security.currentUser.username">#}
                {#<div class="col-md-12 homepage-infographics">#}
                    {#&#123;&#35;<div class="page-block title-block homepage-infographics">&#35;&#125;#}
                        {#<div class="col-md-4">#}
                            {#{% image '@img_homepage_infographics_1_of_3' %}#}
                            {#<img src="{{ asset_url }}" alt="Ruch JOW - 1. krok" />#}
                            {#{% endimage %}#}
                        {#</div>#}

                        {#<div class="col-md-4">#}
                            {#{% image '@img_homepage_infographics_2_of_3' %}#}
                            {#<img src="{{ asset_url }}" alt="Ruch JOW - 2. krok" />#}
                            {#{% endimage %}#}
                        {#</div>#}

                        {#<div class="col-md-4">#}
                            {#{% image '@img_homepage_infographics_3_of_3' %}#}
                            {#<img src="{{ asset_url }}" alt="Ruch JOW - 3. krok" />#}
                            {#{% endimage %}#}
                        {#</div>#}
                    {#&#123;&#35;</div>&#35;&#125;#}
                {#</div>#}
            {#</div>#}



            <div class="row">
                <div class="col-md-12">
                    <div class="page-block ranks-info-block">
                        <div class="support-votes col-md-4">
                            <div class="ranks-info-element-wrapper">
                                <div class="top"><span class="img"></span><span class="text">Jest nas już</span></div>
                                <div class="content">
                                    <div class="big">[[ getStatistics('basic.supportersCnt')|frNumberFormat ]]</div>
                                    W ostatnim tygodniu [[ getStatistics('basic.supportersCnt7d')|frNumberFormat ]]
                                </div>
                            </div>
                        </div>
                        <div class="public-people col-md-4">
                            <div class="ranks-info-element-wrapper">
                                <div class="top">
                                    <div class="text">[[ getStatistics('basic.localGovSupportCnt')|frNumberFormat ]]</div>
                                    <span class="img"></span>
                                </div>
                                <div class="content">
                                    Poparcie środowisk samorządowych
                                </div>
                            </div>
                        </div>
                        <div class="collected col-md-4">
                            <div class="ranks-info-element-wrapper">
                                <div class="top">
                                    <span class="img"></span>
                                    <span class="text">
                                        Zebraliśmy już
                                        <span class="big">[[ getStatistics('basic.donations')|frNumberFormat:'cash' ]]</span>
                                    </span>
                                </div>
                                <div class="content">
                                    w ostatnim tygodniu [[ getStatistics('basic.donations7d')|frNumberFormat:'cash' ]]
                                    <a class="btn" ui-sref="challenges.make_donation">Wesprzyj akcję</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row videos-block">
                <div class="col-md-4 video-element">
                    <iframe width="100%" src="//www.youtube.com/embed/aRPpzOosx2g" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4  video-element">
                    <iframe width="100%" src="//www.youtube.com/embed/wlvyQMnxoeI" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4  video-element">
                    <iframe width="100%" src="//www.youtube.com/embed/mmu7l2N7zag" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="quote-block">#}
                        {#<div class="content">#}
                            {#<div class="quote">Zacząłbym od reformy ordynacji wyborczej, a więc od wprowadzenia Jednomandatowych Okręgów Wyborczych. Usunęłoby to podstawową słabość obecnego systemu, jaką jest przerost partyjniactwa.</div>#}
                            {#<div class="signature">Jan Nowak-Jeziorański (1914-2005) - legendarny kurier</div>#}
                        {#</div>#}
                        {#{% image output="/images/portrait.JNJ.jpg" '@RuchJowAppBundle/Resources/private/images/portrait.JNJ.jpg' %}#}
                            {#<img class="image" src="{{ asset_url }}" alt="Jan Nowak-Jeziorański" />#}
                        {#{% endimage %}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="row">
                <div class="col-md-12">
                    <article>
                        <div class="abc-jow-guide-block">
                            <div class="row">
                                <div class="col-md-4 guide-img">
                                    {% image '@misc_abc_jow' %}<img src="{{ asset_url }}" alt="przewodnik JOW" />{% endimage %}
                                </div>
                                <div class="col-md-8">
                                    <h1>Pobierz przewodnik i poznaj JOWy</h1>
                                    <ul>
                                        <li>Bezpłatne kompendium wiedzy o JOWach</li>
                                        <li>Wszystko w jednym i przystępnym ebooku</li>
                                        <li>Dowiesz się kim jesteśmy i o co walczymy</li>
                                    </ul>
                                    <a class="btn btn-go"
                                       href="{{ asset('res/przewodnik-jow.pdf') }}"
                                       target="_blank"
                                       ng-click="ruchJowGoogleAnalytics('send', 'event', { eventCategory: 'BroszuraJow', eventAction: 'Pobranie', eventValue: 1});">Pobierz</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="page-block news-block">
                        <div class="header">
                            <h1>Aktualności</h1>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <iframe
                                    src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FspolecznoscJOW&amp;width&amp;height=657&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=false"
                                    scrolling="no"
                                    frameborder="0"
                                    allowTransparency="true"
                                    class="facebook-likebox"
                                    style="width: 100%">
                                </iframe>
                            </div>
                            <div class="col-md-6">
                                <a ruch-jow-twitter-widget="" class="twitter-timeline" href="https://twitter.com/spolecznoscJOW" data-widget-id="551374304236306434">Tweety użytkownika @spolecznoscJOW </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="page-block disqus-block">#}
                        {#<div class="header">#}
                            {#<h1>Wyraź swoją opinię</h1>#}
                        {#</div>#}

                        {#<div id="disqus_thread" ruch-jow-disqus=""></div>#}
                        {#<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>

    <div ui-view=""></div>

{{ '</script>' }}
