<strong>Witamy,</strong>

<p>
w imieniu naszego użytkownika {{ user.username }} ({{ user.email }}) chcielibyśmy zaprosić cię do wsparcia Ruchu JOW,
promującej wprowadzenie Jednomandatowych Okręgów Wyborczych (JOW) w wyborach do Sejmu, na wzór brytyjski!
</p>

<p>
Aby dowiedzieć się więcej o akcji kliknij poniższy link (lub wklej go do pola adresu w Twojej przeglądarce).

<br />
<a href="{{ referralUrl }}">{{ referralUrl }}</a>
</p>

<p>Jeśli skorzystasz z tego linku, a następnie zdecydujesz się poprzeć Ruch JOW, to użytkownik {{ user.username }} otrzyma dodatkowe punkty w naszym serwisie.

<p>
Pozdrawiamy,<br />
Zespół ruchJOW.pl
</p>
